<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div class="container contWrap">
        <div class="titleWrap">
            <h2 class="title">공지사항</h2>
        </div>

        <!-- 검색 폼 -->
        <form th:action="@{/board}" method="get" class="mb-25rem contSearchWrap" >
            <div class="contSearchBox">
                <select name="searchBy" class="form-select">
                    <option value="title" th:selected="${searchBy == 'title'}">제목</option>
                    <option value="content" th:selected="${searchBy == 'content'}">내용</option>
                    <option value="writer" th:selected="${searchBy == 'writer'}">작성자</option>
                </select>
                <div class="inputBox">
                    <input type="text" name="searchQuery" class="form-control"
                           th:value="${searchQuery}" placeholder="검색어를 입력해주세요">
                </div>
                <div class="btnWrap">
                    <button type="submit" class="searchBtn">검색</button>
                </div>
            </div>
        </form>

        <!-- 게시글 목록 -->
        <div class="tableWrap">
            <table class="table">
                <colgroup>
                    <col style="width: 8%">
                    <col style="width: *">
                    <col style="width: 12%">
                    <col style="width: 12%">
                    <col style="width: 8%">
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <!-- 공지사항 먼저 출력 -->
                <tr th:each="board : ${noticeBoards}"
                    class="boardNoti" th:onclick="|location.href='@{/board/{id}(id=${board.id})}'|">
                    <td><span class="noti">공지</span></td>
                    <td>
                        <a th:href="@{/board/{id}(id=${board.id})}" class="text-decoration-none" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.hits}"></td>
                </tr>
                <!-- 일반글 출력 -->
                <tr th:each="board, stat : ${boards.content}" class="boardList" th:onclick="|location.href='@{/board/{id}(id=${board.id})}'|">
                    <td th:text="${boards.totalElements - (boards.number * boards.size) - stat.index}"></td>
                    <td>
                        <a th:href="@{/board/{id}(id=${board.id})}" class="text-decoration-none" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#temporals.format(board.regTime, 'yyyy-MM-dd')}"></td>
                    <td th:text="${board.hits}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이징 -->
        <!--
           boards.number : 현재 페이지 번호(0부터 시작)
           boards.totalPages : 전체 페이지 수
           boards.first : 첫 페이지 여부
           boards.last : 마지막 페이지 여부
           boards.size : 페이지당 게시글 수
           boards.totalElements : 전체 게시글 수
           boards.content : 현재 페이지의 게시글 목록
        -->
        <!--한번에 10개의 페이지 번호를 보여주기위한 계산.-->
        <!--
            시젝 페이지 번호(start) 계산
            start=${(boards.number/10)*10 + 1}
            끝 페이지 번호(end) 계산
            end=(${(boards.totalPages == 0) ? 1 : (start + 9 < boards.totalPages ? start + 9 : boards.totalPages)})
        -->
        <div class="d-flex justify-content-center mt-25rem"
             th:with="start=${(boards.number/10)*10 + 1},
                      end=(${(boards.totalPages == 0) ? 1 : (start + 9 < boards.totalPages ? start + 9 : boards.totalPages)})">
            <ul class="pagination">
                <!-- 첫 페이지, 이전 페이지 -->
                <!--첫 페이지일 경우 버튼 비활성화-->
                <!-- 검색 조건 유지를 위해 searchBy, searchQuery 파라미터 전달-->
                <li class="page-item page-arrow page-prev01" th:classappend="${boards.first} ? 'disabled'">
                    <a class="page-link" th:href="@{/board(page=0, searchBy=${searchBy}, searchQuery=${searchQuery})}">맨 처음 페이지</a>
                </li>

                <li class="page-item page-arrow page-prev02" th:classappend="${boards.first} ? 'disabled'">
                    <a class="page-link" th:href="${boards.first} ? '#' : @{/board(page=${boards.number-1}, searchBy=${searchBy}, searchQuery=${searchQuery})}">이전 페이지</a>
                </li>
                <!-- 페이지 번호 -->
                <!-- #numbers.sequence(start, end): start부터 end까지의 숫자 시퀀스 생성 -->
                <!--현재 페이지일 경우 'active' 클래스 추가로 강조 표시-->
                <!--page-1을 하는 이유: 화면에는 1부터 표시하지만, 실제 페이지는 0부터 시작-->
                <li class="page-item page-num" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${page == boards.number + 1} ? 'active'">
                    <a class="page-link" th:text="${page}" th:href="@{/board(page=${page - 1}, searchBy=${searchBy}, searchQuery=${searchQuery})}"></a>
                </li>
                <!-- 다음 페이지, 마지막 페이지 -->
                <!--마지막 페이지일 경우 버튼 비활성화-->
                <li class="page-item page-arrow page-next02" th:classappend="${boards.last} ? 'disabled'">
                    <a class="page-link" th:href="${boards.last} ? '#' : @{/board(page=${boards.number + 1}, searchBy=${searchBy}, searchQuery=${searchQuery})}">다음 페이지</a>
                </li>
                <li class="page-item page-arrow page-next01" th:classappend="${boards.last} ? 'disabled'">
                    <a class="page-link" th:href="@{/board(page=${boards.totalPages - 1}, searchBy=${searchBy}, searchQuery=${searchQuery})}">맨 뒤 페이지</a>
                </li>
            </ul>
        </div>

        <!-- 글쓰기 버튼 -->
        <div class="text-end btnWrap">
            <a th:href="@{/board/new}" class="btn writeBtn"
               sec:authorize="hasRole('ADMIN')">
                글쓰기
            </a>
        </div>
    </div>
</div>


</html>