<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="footerWrap">
        <div class="footerMenu">
            <ul class="menu auto">
                <li><a href="/store">매장안내</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="/inquiry">상품문의</a></li>
            </ul>
        </div>

        <div class="textWrap auto">
            <ul class="list">
                <li>(주) THE JOEUN COFFEE</li>
                <li>대표명 : 최지웅, 장승훈, 송유진</li>
                <li>사업자등록번호 : 123-12-00123</li>
                <li>통신판매업신고번호 : 2025-인천부평-1234호</li>
            </ul>
            <ul class="list">
                <li>주소 : 인천 부평구 경원대로 1366 스테이션타워 7층 707호</li>
            </ul>
            <ul class="list">
                <li>대표전화 : <span class="bold">1688-1234</span></li>
                <li>FAX : 032-1234-1234</li>
                <li>E-mail : coffee@coffee.co.kr</li>
            </ul>
            <p class="copyright">
                COPYRIGHT © 2025 THEJOEUNCOFFEE. ALL RIGHTS RESERVED.
            </p>
        </div>
    </footer>
</div>
</html>